@import "tailwindcss";

ul {
    list-style: none !important;
}

.navbar:hover {
    background-color: white;
}

body {
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;  
}

/* ::-webkit-scrollbar-track {
  border-radius: 3px;
} */

::-webkit-scrollbar-thumb {
  background-color: black;
}

.list {
  transition: 0.5s ease-in;
}


.pending{
  position: relative;
}

.animate {
  transition: all 5s;
}

.bigImg::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right , white , transparent);
}

.pending::after,
.pending-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: pending 3s infinite;
}

.pending-two::after {
  animation: pending-two 3s infinite;
}

@keyframes pending {
  from{
    width: 0;
  }

  to{
    width: 100%;
  }
}

@keyframes pending-two {
  from{
    height: 0;
  }

  to{
    height: 100%;
  }
}

.card::after {
  content: 'DETAILS';
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.591);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav-vid {
  transition: opacity 0.5s ease-in-out;
}

.card:hover::after {
  opacity: 1;
}



.swiper-home .swiper-button-next,
.swiper-home .swiper-button-prev {
  position: fixed !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important; 
  width: 20px !important; 
  height: 20px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important; /* حجم الأيقونة نفسها */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: black;
  scale: 1.2;
  transition: all 0.5s;
}




/*start loading*/

.loader {
  width: 48px;
  height: 48px;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*end loading*/






